{% extends "base.html" %}

{% block title %}StealthWard - Home{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="/static/css/pcap.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="main-heading text-center">Traffic Monitoring</h1>

    <div class="row">
        {% for system, files in pcap_files.items() %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card pcap-card">
                    <div class="card-body">
                        <h5 class="card-title system-heading">{{ system }}</h5>
                        <div class="pcap-container">
                            {% for file, timestamp in files %}
                                <div class="pcap-tile">
                                    <a href="{{ url_for('pcap_details', file_name=file) }}">
                                        <div class="pcap-name">{{ file }}</div>
                                        <div class="timestamp">{{ timestamp }}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!--
<script>
    // Set interval to refresh the page every 10 seconds (30000 milliseconds)
    setInterval(function(){
        location.reload();
    }, 10000);
</script>
-->
{% endblock %}
