{% extends 'base.html' %}
{% block extra_styles %}
<link rel="stylesheet" href="/static/css/pcap_details.css">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="main-heading">{{ file_name }}</h1>

    <!-- Graphs -->
    <div class="row">
        <div class="col-lg-6 section">
            <div class="chart-container">
                <h4>Packet Length Over Time</h4>
                {{ plot_html | safe }}
            </div>
        </div>
        <div class="col-lg-6 section">
            <div class="chart-container">
                <h4>Protocol Distribution</h4>
                {{ protocol_pie_html | safe }}
            </div>
        </div>
    </div>

    <!-- IP Stats & Table -->
    <div class="row">
        <div class="col-lg-6 section">
            <div class="chart-container">
                <h4>IP Statistics</h4>
                {{ ip_stats_html | safe }}
            </div>
        </div>
        <div class="col-lg-12 section">
            <div class="packets-table-container">
                <h4>Packet Information</h4>
                {{ packets_table | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
